body{
    color: black;
    background: purple;
    font-family: "PT Serif", serif;
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background: ; rgb(205, 133, 145);
    margin-top: ; 80px;
    margin-bottom; : 80px;
    display: flex;
    justify-content: center;
}
header{
    color: white
    font-size: 40px;
    border-bottom: solid 3px white;
    padding: 20px;
}